<div ng-controller="HomeController">
  <div class='card' ng-show="logado">
    <h3 class='username'><a href="perfil">{{user.nome.split(' ')[0]}} <span class="smaller">(<span id="pontos">{{user.pontos}}</span> pontos)</span></a></h3>
    <div class="info center">
      <h4>Meta Diária</h4>
      <div class="metas center">
        <div ng-class="{concluido: metaDiaria.concluida}">
          <h5><span
          data-balloon="Classifique 20 termos hoje e ganhe 100 pontos extras!"
          data-balloon-pos="up"
          data-balloon-length="medium"
          class="tooltip">
          <a ng-class="{concluido: metaDiaria.concluida}" href="/colaborar">Classificar 20 termos
            <span ng-show="metaDiaria.concluida"><i class="fa fa-check-square"></i></span>
          </a>
          </span></h5>
          <div id="myProgress" ng-show="!metaDiaria.concluida">
            <div id="myBar">
              <div id="label">{{metaDiaria.votos / 20 | percentage:0}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='card' ng-show="logado">
    <h3>Sugerir palavra</h3>
    <div class="info">
      <form>
        Palavra <span data-balloon="Insira palavras em sua forma singular (Ex: Bonita, ao invés de Bonitas)" data-balloon-pos="up" data-balloon-length="medium" class="tooltip">?
        </span>
        <input type="text" ng-model="palavraSugerida" ng-disabled="!sugerir" />
        <button ng-click="sugerirPalavra()" class="botao logout" ng-show="sugerir">Sugerir</button>
        <div class="infomsg" ng-show="!sugerir">
          <span>Você precisa de pelo menos 500 pontos para poder sugerir palavras</span>
        </div>
        <p>{{status}}</p>
      </form>
    </div>
  </div>

  <div class="card center" ng-show="logado">
    <div id="meta">
      <h3>Explorando a plataforma</h3>
      <div class="metas">
        <div ng-class="{concluido: user.avatar !== 'anonymous'}">
          <h5><span
          data-balloon="Troque seu avatar e ganhe 50 pontos!"
          data-balloon-pos="up"
          data-balloon-length="medium"
          class="tooltip">
          <a href="/perfil">Trocando o avatar
            <span ng-show="user.avatar !== 'anonymous'"><i class="fa fa-check-square"></i></span>
          </a>
          </span></h5>
        </div>
        <div ng-class="{concluido: user.task_ranking}">
          <h5><span
          data-balloon="Veja sua posição no ranking e ganhe 50 pontos!"
          data-balloon-pos="up"
          data-balloon-length="medium"
          class="tooltip">
          <a href="/estatisticas">Visualizando o ranking
            <span ng-show="user.task_ranking"><i class="fa fa-check-square"></i></span>
          </a>
          </span></h5>
        </div>
        <div ng-class="{concluido: user.task_conquista}">
          <h5><span
          data-balloon="Pegue seu primeiro card e ganhe 100 pontos!"
          data-balloon-pos="up"
          data-balloon-length="medium"
          class="tooltip">
          <a href="/conquistas">Primeira conquista
            <span ng-show="user.task_conquista"><i class="fa fa-check-square"></i></span>
          </a>
          </span></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="card" ng-show="!logado">
    <div class="cadastroMenu">
      <ul class="">
        <li><a id="menuLogin" class="ativoBranco" href="javascript:void(0)" ng-click="reset()" onclick="loginMenu()">Entrar</a></li>
        <li><a id="menuCadastro" href="javascript:void(0)" ng-click="reset()" onclick="cadastroMenu()">Cadastrar</a></li>
      </ul>
    </div>
    <div id="login" class="fadeIn">
      <form>
        <div>
          <label><b>Email</b></label>
          <input name="email" type="email" ng-model="email" placeholder="Digite seu email" required oninvalid="this.setCustomValidity('Por favor preencha este campo')">
          <label><b>Senha</b></label>
          <input name="password" type="password" ng-model="senha" placeholder="Digite sua senha" required oninvalid="this.setCustomValidity('Por favor preencha este campo')">
          <button class="botao" type="submit" ng-click="logar()">Entrar</button>
          <span ng-model="erro" class="erro">{{erro}}</span>
          <input type="checkbox" checked="checked"> Lembrar usuário</input>
        </div>
      </form>
      <div class="cinza direita">
        <a class='esqueceu' href="#">Esqueceu a senha?</a>
      </div>
    </div>
    <div id="cadastro" class="fadeIn hide">
      <form>
        <div>
          <label><b>Nome</b></label>
          <input type="text" ng-model="nome" placeholder="Digite seu nome" required oninvalid="this.setCustomValidity('Por favor preencha este campo')">
          <label><b>E-mail</b></label>
          <input type="email" ng-model="email" placeholder="Digite seu email" required oninvalid="this.setCustomValidity('Por favor preencha este campo corretamente')">
          <label><b>Senha</b></label>
          <input type="password" ng-model="senha" placeholder="Digite sua senha" required oninvalid="this.setCustomValidity('Por favor preencha este campo')">
          <label><b>Confirmação de Senha</b></label>
          <input type="password" ng-model="confirmaSenha" placeholder="Digite sua senha novamente" required oninvalid="this.setCustomValidity('Por favor preencha este campo')">
          <button class="botao" type="submit" ng-click="registrar()">Cadastrar</button>
          <span ng-model="erro" class="erro">{{erro}}</span>
        </div>
      </form>
    </div>
  </div>
</div>
