<div class="container row">
  <div class="eight columns card">
    <div>
      <div>
        <div>
          <div>
            <h3>Conquistas</h3>
          </div>
          <div>
            <div class="flex">
              <ul>
                <li class="cartao" ng-repeat="card in cards">
                  <img ng-src="{{card.imagem}}"/>
                  {{card.nome}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <div>
            <h3>Cards Disponiveis</h3>
          </div>
          <div class="flex">
            <ul>
              <li class="cartao" ng-repeat="card in cards">
                <img ng-src="{{card.imagem}}"/>
                {{card.nome}}
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
              <li class="cartao hvr-bounce-in">
                <img src="http://i48.tinypic.com/260v86c.png"/>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four columns sidebar">
    <dados-jogador></dados-jogador>
  </div>
</div>
