<div class="container card">
  <div class="principal">
    <h2>Sentionario</h2>
    <div class='buscar'>
      <input id="consultar" type="text" placeholder="Buscar palavra" ng-model="busca" required>
      <a id="btnBuscar" class="btnBuscar card-hover" ng-click="buscar()">&nbsp;</a>
      </input>
    </div>
    <div class="resultadoBusca" ng-repeat="palavra in palavrasFiltradas | orderBy: 'nome' | limitTo:20">
      <div class="resultado card">
        <div class="row">
          <div class="six columns">
            <div class="palavra">{{palavra.nome}}</div>
          </div>
          <div class="six columns">
            <div class="chato" ng-show="!palavra.qtdVotos">
              <p>Que chato, esta palavra ainda não foi avaliada!</p>
              <div ng-show="logado" class="">
                <span class="button" ng-click="liberar(palavra)">Seja o primeiro a classificar!</span>
                <div ng-class="'avaliar-' + palavra.nome" class='hide'>
                  <p class="slider-output">{{output}}</p>
                    <div class='row'>
                        <div class="one columns stickerL hide-mobile">
                            -
                        </div>
                        <div class="ten columns rslider">
                            <rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
                        </div>
                        <div class="one columns stickerR hide-mobile">
                            +
                        </div>
                    </div>
                    <button ng-click="classificar(palavra)" class='button' type="button">Classificar</button>
                </div>
              </div>
              <span ng-show="!logado"><a href="/">Entre na plataforma</a> para começar a avaliar palavras!</span>
            </div>
            <div ng-show="palavra.qtdVotos">
              <img ng-src="{{smileySrc(palavra.total, palavra.qtdVotos)}}" class="smiley"></img>
              <div class="detalhesPalavra">
                <p class=""> Sentimento: {{sentimento(palavra.total, palavra.qtdVotos)}}</p>
                <p class=""> {{positividade(palavra.total, palavra.qtdVotos) | percentage:0}} de positividade</p>
                <div class="likeDiv" ng-show="palavra.qtdVotos">
                  <p class="small">Esta classificação está correta?</p>
                  <img class="like" ng-click="like(palavra, 1)" src="images/like.png"></img><span class="likeLabel">{{palavra.likePos}}</span>
                  <img class="like" style="margin-bottom: -7px" ng-click="like(palavra, -1)" src="images/dislike.png"></img><span class="likeLabel">{{palavra.likeNeg}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="dadosClassificacao six columns">
            <p>Quantidade de classificações: {{palavra.qtdVotos}}</p>
            <div ng-show="palavra.qtdVotos">
              <a ng-class="'btn-' + palavra.nome" ng-click="loadGraph(palavra)" class="button">Ver distribuição de classificações</a>
              <div class="ct-chart" ng-class="palavra.nome">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center" ng-show="mostrarZeroResultados">
      <h4 class="grey">Sua consulta não encontrou resultados.</h4>
    </div>
  </div>
</div>
