<div>
  <div class="container card">
    <div class='row'>
      <div class="six columns info">
        <h3 class="">Ranking de classificadores</h3>
        <ul class="rank">
          <li ng-repeat="user in top10">
            <img ng-src="{{'images/' + user.avatar + '.png'}}" class="avatar" />#{{$index + 1}} {{user.nome}}
            <span class="points">{{user.pontos}}pts</span>
          </li>
        </ul>
      </div>
      <div class="six columns info">
        <h3>Informações sobre a plataforma</h3>
        <div class='plataforma'>
            Esta plataforma possui um total de <span class="big">{{stats.palavras}}</span> palavras.<br />
            Destas, <span class="big">{{stats.palavrasPos}}</span> palavras são postivas,
            e <span class="big">{{stats.palavrasNeg}}</span> são negativas.<br />
            Se você fez as contas certas, <span class="big">{{stats.palavras -
              stats.palavrasPos - stats.palavrasNeg}}</span> palavras são neutras.<br />
            Estas classificações foram feitas pelos importantes <span class="big">{{stats.usuarios}}</span>
            usuários!

            <div class="ct-chart ct-major-second graphPalavras"></div>
        </div>
      </div>
    </div>
  </div>
</div>
