<div class="container row">
  <div class="eight columns card">
    <div>
      <div>
        <h2>Sentionário</h2>
      </div>
      <div>
        <div>
          <h3>O que é o sentionário?  </h3>
        </div>
        <p>O sentionário é uma ferramenta que utiliza a colaboração para coletar e classificar expressões de sentimento.
        </p>
        <div>
          <h3>Para que serve?</h3>
        </div>
        <p>
          Essa ferramenta pode ajudar pesquisadores da área de análise de sentimento a criar programas para computadores que sejam capaz de identificar o sentimento presente em um texto.
        </p>
        <div>
          <h3>Como participar?</h3>
        </div>
        <p>
          Para contribuir é muito simples, crie sua conta aqui mesmo nesta página e comece informando como você se sente ao ver determinadas palavra.
        </p>
      </div>
    </div>
  </div>
  <div class="four columns sidebar">
    <dados-jogador></dados-jogador>
  </div>
</div>
