<div class="container row">
  <div class="eight columns card">
    <div>
      <div>
        <div>
          <h3>O que é o sentionário?  </h3>
        </div>
        <p>O sentionário é uma plataforma que utiliza a colaboração para coletar e classificar palavras quanto ao sentimento.
          Através dos dados coletados, é possível gerar uma base para consultar o sentimento em cada palavra.
        </p>
        <div>
          <h3>Para que serve?</h3>
        </div>
        <p>
          Essa plataforma pode ajudar pesquisadores da área de análise de sentimentos a criar algoritmos capazes de identificar o sentimento
          presente em um texto. (Por exemplo, identificar se um comentário em uma página é positivo ou negativo)
        </p>
        <div>
          <h3>Como colaborar?</h3>
        </div>
        <p>
          Para contribuir com a plataforma você precisa criar sua conta nesta
          página e depois clicar em "Classificar Palavras" no menu superior.
        </p>
      </div>
    </div>
  </div>
  <div class="four columns sidebar">
    <dados-jogador></dados-jogador>
  </div>
</div>
