<div class="container row">
  <div class="eight columns card">
    <div>
      <div>
        <div>
          <h3>O que é o sentionário?  </h3>
        </div>
        <p>O sentionário é uma plataforma colaborativa para classificar e visualizar
          palavras em relação ao sentimento que elas transmitem.
        </p>
        <div>
          <h3>Como colaborar?</h3>
        </div>
        <p>
          Para colaborar, basta criar uma conta na plataforma e, em seguida, começar a atribuir sentimentos
          a palavras a partir do menu "Classificar Palavras".

          Além de classificar palavras você pode consultar sentimentos enviados por outras pessoas, participar
          do ranking e colaborar com o crescimento da plataforma!
        </p>
        <div>
          <h3>Para que serve?</h3>
        </div>
        <p>
          Essa plataforma pode ser utilizada na tarefa de análise de sentimento, ou seja, na criação de algoritmos capazes de identificar o sentimento
          presente em textos. Por exemplo, identificar se um comentário em uma página é positivo ou negativo.
          A coleção de dados gerados a partir desta plataforma pode ser obtida através do menu "Download".
        </p>
      </div>
    </div>
  </div>
  <div class="four columns sidebar">
    <dados-jogador></dados-jogador>
  </div>
</div>
