<div class="container row">
  <div class="eight columns card">
    <div>
      <div>
        <h2>Editar Perfil</h2>
      </div>
      <div>
        <div>
          <h3>Informacoes Basicas  </h3>
        </div>
        <form>
          Nome<input ng-model="nome" type="text" required oninvalid="this.setCustomValidity('Por favor preencha este campo')"/>
          Email<input ng-model="email" type="email" required oninvalid="this.setCustomValidity('Por favor preencha este campo')"/>
          <button class="botao logout">Atualizar</button>
        </form>
        <div>
          <h3>Seguranca</h3>
        </div>
        Senha atual<input ng-model="senhaAtual" type="password" required oninvalid="this.setCustomValidity('Por favor preencha este campo')"/>
        Nova senha<input ng-model="novaSenha" type="password" required oninvalid="this.setCustomValidity('Por favor preencha este campo')"/>
        Confirme nova senha<input ng-model="confirmaNovaSenha" type="password" required oninvalid="this.setCustomValidity('Por favor preencha este campo')"/>
        <button class="botao logout">Atualizar</button>
        <div>
          <h3>Conquistas</h3>
        </div>
        <p>
          Em breve.
        </p>
      </div>
    </div>
  </div>
  <div class="four columns sidebar">
    <dados-jogador></dados-jogador>
  </div>
</div>
