.avatares {
    ul{
      margin-bottom: 0px !important;
    }
    li {
        list-style: none;
        display: inline-block;
        width: 100px;
        text-align: center;
        line-height: 1.1em;
        input{
          margin: 10px auto;
          display: block;
        }
    }
}

.avatar-icon{
  max-width: 60px;
  display: block;
  margin: 0 auto;
}

.metas a{
  text-decoration: none;
  color: inherit;
}

.metas .concluido a{
  color: #47a147;
}
